@import "colors.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
  border-radius: 50px;
}

#waybar {
  background: transparent;
}

#workspaces {
  margin: 5px 12px 5px 12px ;
  background-color: @surface_container_low;
  padding: 2px;
}

#workspaces button {
  background-color: transparent;
  color: @outline;
  padding: 0.4rem;
  margin: 3px 2px;
  transition: margin 150ms ease-in-out, padding 150ms ease-in-out;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.2s ease;
}

#workspaces button.active {
  padding: 5px 24px;
  background-color:@primary_fixed_dim;
  color: @on_primary_fixed
}

#workspaces button.active:hover {
  color: @primary_fixed_dim;
  background: inherit;
}

#workspaces button.empty {
  color: @outline_variant;
}

#workspaces button:hover {
  background-color: @surface_container_high;	
}

#workspaces button.urgent {
  background-color: @error;
  color: @on_error;
}

#custom-media,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#idle_inhibitor,
#taskbar {
  color: @primary;
  background-color: @surface_container;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
 margin-left: 12px;
}


#pulseaudio {
  margin-left: 12px;
  margin-right: 12px;
}
#battery { 
  margin-right: 12px;
}
#backlight {
  margin-right: 12px;
}

#network {
  margin-right: 12px;
}

#taskbar {
  transition: all 0.3s ease-in-out;
}

#taskbar.empty {
  opacity: 0;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
#taskbar button:hover {
  border-radius: 50px;
}
#idle_inhibitor {
  margin-left: 12px;
}
