configuration {
    modi:                "drun,run,window";
    show-icons:          true;
    icon-theme:          "Adwaita";
    font:                "JetBrains Mono 11";
    terminal:            "kitty";
    fixed-num-lines:     true;

    display-drun:        "";
    drun-prompt:         "";

    drun { 
        lines: 12;
        columns: 1;
    }
}

@theme "~/.config/rofi/theme.rasi"
