@import "colors.css";

* {
	background-image: none;
}

window {
	background-color: transparent;
}

button {
    color: #FFFFFF;
	background-color: transparent;
	outline-style: none;
    border: none;
    border-width: 0px;
	background-repeat: no-repeat;
    background-position: center;
	background-size: 25%;
	border-radius: 160px;
	box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;

}

button:focus, butron:active {
    background-image: image(url("./icons/gradient.png"));
	background-color: @primary;
	background-size: 40%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}


#logout {
    background-image: image(url("./icons/logout.png"));
}



#suspend {
    background-image: image(url("./icons/suspend.png"));
}



#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}



#reboot {
    background-image: image(url("./icons/reboot.png"));
}

#lock {
	background-image: image(url("./icons/lock.png"));
}
